body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.screen {
    display: block;
}

.hidden {
    display: none;
}

input, button, select {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
}

button {
    background: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
}

button.small {
    width: auto;
    padding: 8px 12px;
    background: #3a8ed6;
}

.link {
    color: #3a8ed6;
    text-decoration: underline;
    cursor: pointer;
}

/* AVATARS */
#avatar-select img,
#avatar-edit-select img {
    width: 60px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
}

.selected-avatar {
    border: 2px solid #3a8ed6 !important;
}

/* INTERETS : boutons lisibles */
.interest-btn {
    display: inline-block;
    padding: 8px 12px;
    background: #ff79a8;
    color: white;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.selected-interest {
    background: #d91c69 !important;
}

/* CHAT */
#messages-box {
    background: white;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    margin: 5px 0;
    padding: 6px;
    border-radius: 6px;
}

.me {
    background: #b3f0ff;
    text-align: right;
}

.them {
    background: #ffd2ec;
}
